<!DOCTYPE html>

<html>
   
   <head> 
      <title>Cook with Us!</title>
      {% load static %}
   </head>
   
   <body>
    <h1 style="text-align:center">RECIPES</h1>
    <h3 style="text-align:center" ><a href ="{%url 'logout' %}" > Logout </a></h3>
    <h3 style="text-align:center" ><a href ="{%url 'search' %}" > Search for a Recipe </a></h3>
    
   
    <table border="1" cellpadding="5" cellspacing = "5">   
       <tr> 
           <td>Recipes</td>   
       </tr>
       {% for object in object_list %} 
       <tr>
         <td><a href="{{object.get_absolute_url}}"> {{object.name}}</a></td>
           <td><img src="{{object.pic.url}}" width="150" height="200" /></td>   
       </tr>
       {% endfor %}
    </table>


   </body>
</html>

